@import url("../../../styles/variables.css");

.card {
  min-width: 200px;
  max-width: 200px;
  width: 100%;
  cursor: pointer;
  flex-shrink: 0;
  border: none;
}
.card_img_container {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
  border-radius: 0.7rem;
  position: relative;
  background-color: red;
  overflow: hidden;
}
.card_img {
  height: 93%;
  width: 100%;
  object-fit: cover;
}
.card_img_overlay {
  display: flex;
  width: 100%;
  height: 10%;
  border:none;
  background-color: var(--color-bg2);
  padding: 0rem 0.5rem;
  align-items: center;
}
.card_img_overlay_text {
  font-size: 0.8rem;
  font-weight: 400;
  color: #fff;
  margin-left: 0.4rem;
}
.card_body { 
  padding: 10px 5px; 
  display: flex;
  flex-direction: column;
  width: 100%;
}
.card_title { 
  font-weight: 600; 
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
}
.card_meta { 
  color: var(--color-text-muted); 
  font-size: 12px; 
  margin-top: 4px;
  width: 100%;
  flex-wrap: wrap;
  word-wrap: break-word;
  white-space: normal;
}


